.navbar {
    background: #F97300;
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

/* .bg-dark { */
/*     background-color: #343a40 !important */
/* } */

/* .bg-primary { */
/*     background-color: #007bff !important */
/* } */

.header {
    background-image: url('../images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 50%;
}

.overlay {
    position: absolute;
    min-height: 50%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}

.description h1 {
    color: #F97300;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}

.links {
    margin: 4em 0;
    position: relative;
}

.links h1 {
    color: #F97300;
    margin: 2em;
}

.links .card {
    box-shadow: 0 0 20px #ccc;
}

.links a {
    text-decoration: none;
    color: #000000;
}

.links .card img {
    display: block;
    height: 12em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.links .card-title {
    color: #F97300;

}

.links .card-body {
    padding: 1em;
}
